apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
configurations:
- kustomizeconfig.yaml
namespace: openshift-marketplace
namePrefix: ip-rule-operator-
resources:
- catalogsource.yaml
images:
- name: catalog
  newName: ghcr.io/mariusbertram/ip-rule-operator-catalog
  newTag: v0.0.1
